body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;

}
.span-color{
    color: orange;
}
p{
    font-weight: 600 ;
}
.container{
    display: flex;
}
.top-banner{
    background-image: url(./images/top-banner.png);
    background-repeat:no-repeat;
}
.half-width, 
.middle-banner {
    width: 50%;
    padding: 5%;
}
.half-width  img {
    width: 80%;
}
.link-button,   
.sec-button{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(orange , tomato);
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.middle-banner img{
    width: 80%;
}
.dream-big{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right ;
    
}
.last-part{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 20px #ddd;
}
.last-area{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-bottom: 100px;
}
.full{
    border-left:  5px solid #FF6347;
}
.baby{
    border-left: 5px solid #0000FF;
}
footer{
    text-align: center;
    
}