body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;

}
.span-color{
    color: orange;
}
p{
    font-weight: 600 ;
}
.container{
    display: flex;
}
.top-banner{
    background-image: url(./images/top-banner.png);
    background-repeat:no-repeat;
}
.half-width, 
.middle-banner {
    width: 50%;
    padding: 5%;
}
.half-width  img {
    width: 80%;
}
.link-button,   
.sec-button{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(orange , tomato);
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.middle-banner img{
    width: 80%;
}
.dream-big{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right ;
    
}